body{
    border:1px solid red;
    margin: 0%;
    background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
    color: white;
}
footer{
    border:1px purple;
}
main{
    border:3px solid orange;
    width:80%;
    margin:0 auto;
    background:burlywood;
}
header{
    text-align: center;
}
footer div{
    /* border:1px solid green;
    background-color:orange; */
}
#footer-address{
    /* background-color: yellow; */
}#footer-contact{
    /* background-color: purple; */
}
section{
    /* border: 1px solid red; */
}
.coffee-section{
    border:2px solid red;
    background-color: antiquewhite;
    background-image: url("https://png.pngtree.com/background/20230410/original/pngtree-coffee-beans-leaves-wood-plank-background-picture-image_2385568.jpg");
    
}

.dessert-section{
    border:1px solid green;
    background-image: url("https://png.pngtree.com/background/20230410/original/pngtree-coffee-beans-leaves-wood-plank-background-picture-image_2385568.jpg");
    
    
}
.coffee-heading,.dessert-heading{
    border: 2px solid peru;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.coffee-heading h2{
    border:1px solid brown;
}

.coffee-heading i{
    border:1px solid green;
    font-size: 28px;
}
.coffee-headind i,.dessert-heading i{
    font-size: 70px;
}

article {
    border: 1px solid red;
}
.coffee-item,.dessert-item{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px
}
img{
    width: 300px;
    object-fit: cover;
    height: 300px;
 
}
.flavor,.price,.dessert{
    text-align: center;

}
.price{
    color: green;
}
.flavor{
    font-size: x-large;
}

